<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input [(ngModel)]="restoredata.username" name="username" type="text" minlength="3" maxlength="8" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-button expand="full" color="warning" (click)="restoreUser()">Recuperar</ion-button>
      <ion-button expand="full" color="medium" (click)="inicio()">Inicio</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">Developer: Gundyr</ion-title>
  </ion-toolbar>
  </ion-footer>